<div class="login-container">
  <div class="col-xl-4 col-md-6 col-10 mx-auto">
    <div class="card">
      <div class="card-body text-center">
        <h2 class="card-title">Sign in to CPR</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class=" text-left">
          <div class="form-group">
            <input [formControl]="email" class="form-control checking-field" placeholder="Email" type="text">
            @if (form.get('email')!.touched && form.get('email')!.hasError('required')) {
              <span class="help-block text-danger">Email is required</span>
            }
            @if (form.get('email')!.touched && form.get('email')!.hasError('invalidEmail')) {
              <span class="help-block text-danger">Invalid email address</span>
            }
          </div>
          <div class="form-group">
            <input [formControl]="password" class="form-control checking-field" placeholder="Password" type="password">
            @if (form.get('password')!.touched && form.get('password')!.hasError('required')) {
              <span class="help-block text-danger">Password is required</span>
            }
            @if (form.get('password')!.touched && form.get('password')!.hasError('minlength')) {
              <span class="help-block text-danger">Password isn't long enough, minimum of 8 characters</span>
            }
          </div>
          <div class="form-group d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input checkbox-main" id="login-keep">
              <label class="custom-control-label" for="login-keep">Keep me signed in</label>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

