<div class="register-container">
  <div class="col-xl-4 col-md-6 col-10 mx-auto">
    <div class="card">
      <div class="card-body text-center">
        <h2 class="card-title">Sign up to Azimuth</h2>
        <a routerLink="/login" class="btn btn-link transition bottom-15">Already have an account? Sign in!</a>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left">
          <div class="form-group">
            <input [formControl]="name" class="form-control checking-field" placeholder="Full Name" type="text">
            @if (form.get('name')!.touched) {
              <span class="help-block">
                @if (form.get('name')!.hasError('required')) {
                  <span class="text-danger">Full Name is required</span>
                }
                @if (form.get('name')!.hasError('minlength')) {
                  <span class="text-danger">Minimum of 3 characters</span>
                }
              </span>
            }
          </div>
          <div class="form-group">
            <input [formControl]="email" class="form-control checking-field" placeholder="Email" type="text">
            @if (form.get('email')!.touched) {
              <span class="help-block">
                @if (form.get('email')!.hasError('required')) {
                  <span class="text-danger">Email is required</span>
                }
                @if (form.get('email')!.hasError('invalidEmail')) {
                  <span class="text-danger">Invalid email address</span>
                }
              </span>
            }
          </div>
          <div class="form-group">
            <input [formControl]="password" class="form-control checking-field" placeholder="Password" type="password" minlength="6">
            @if (form.get('password')!.touched) {
              <span class="help-block">
                @if (form.get('password')!.hasError('required')) {
                  <span class="text-danger">Password is required</span>
                }
                @if (form.get('password')!.hasError('minlength')) {
                  <span class="text-danger">Password isn't long enough, minimum of 6 characters</span>
                }
              </span>
            }
          </div>
          <div class="form-group">
            <input [formControl]="confirmPassword" class="form-control checking-field" placeholder="Confirm Password" type="password">
            @if (form.get('confirmPassword')!.touched) {
              <span class="help-block">
                @if (form.get('confirmPassword')!.hasError('required')) {
                  <span class="text-danger">Confirm Password is required</span>
                }
                @if (form.get('confirmPassword')!.hasError('mismatchedPasswords')) {
                  <span class="text-danger">Passwords do not match</span>
                }
              </span>
            }
          </div>
          <div class="form-group">
            <p class="terms">By creating an account, you agree our <a class="btn btn-link transition terms" href="javascript:void(0);">Terms & Privacy Policy</a></p>
          </div>
          <div class="form-group">
            <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">Sign up</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
